<h1>pandas introduction</h1>
<p>
This notebook presents a small fraction of pandas's methods. Read http://pandas.pydata.org/pandas-docs/stable/ for the whole documentation, http://pandas.pydata.org/pandas-docs/stable/10min.html for a quickstart.
</p>
<p>
pandas introduces new data structures such as data frames - similar to those ones of R - to Python. Data frames are single-lined or multidimensional arrays which can get labels for each the rows and the columns. Usually, pandas is bundled with common Python distribution, such as Anaconda (https://www.continuum.io/anaconda). If it is not bundled with your distribution and you use pip, you can install mypy with the command "pip install pandas".
</p>
<p>
Once you have installed pandas on your machine, you can load it into your Python programs:
</p>

In [3]:
import pandas
import numpy

<h3>1. The "Series"</h3>
One lesser complex pandas data structure is the <i>Series</i>, which is similar to a Python list:<br>
(More about data structures at http://pandas.pydata.org/pandas-docs/stable/dsintro.html#dsintro)

In [14]:
series = pandas.Series([numpy.nan, 1, 2, 3])
series

0    NaN
1    1.0
2    2.0
3    3.0
dtype: float64

In [16]:
series[2:]

2    2.0
3    3.0
dtype: float64

A Series can include multiple data types (note the change of "dtype" from "float64" to "object":

In [19]:
series2 = pandas.Series(["A", (1,2), False, 3])
series2

0         A
1    (1, 2)
2     False
3         3
dtype: object

<h3>2. The "DataFrame"</h3>
A more complex data type is the aforementioned DataFrame (note that pandas DataFrames are integrated into Jupyter/IPython):

In [38]:
# 1. Initialization method with list
data_frame = pandas.DataFrame(numpy.array([[1,2,3],[4,5,6],["A",8,9]]), index=list("ABC"), columns=[0,1,2])
data_frame

   0  1  2
A  1  2  3
B  4  5  6
C  A  8  9

In [41]:
data_frame[0]["A"]

'1'

In [42]:
# 2. Initialization method with dictionary
pandas.DataFrame({"A":[0,1,2], "B":[3,4,5]})

   A  B
0  0  3
1  1  4
2  2  5

PSB 2017