# Advances list usage :D

## Create int lists with range()
range(start, stop, step) lets you create an enumeration of integers, starting (and including) the start, ending (and *not* including) with stop and given the step size:

In [31]:
# Enumeration from 1 to 10, default step size is 1
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
# Enumeration from 1 to 10, step size 2
list(range(1, 10, 2))

[1, 3, 5, 7, 9]

In its most common use case, range() is used in order to have a counting variable for a for loop:

In [36]:
for i in range(1, 10):  # You don't need list() here
    print(i)

1
2
3
4
5
6
7
8
9

## More list base functions

### .reverse()
reverse... reverses a list :D

In [1]:
int_list = [1,2,3,4]
int_list.reverse()
int_list

[4, 3, 2, 1]

### .index()

Returns the index (again, in Python the index of the 1st element is 0 :O) of the 1st occurence of a given element in a list:

In [8]:
# B is at the 2nd place -> index() is 1
["C", "B", "D"].index("B")

1

In [7]:
# The 1st B is at the 2nd place -> again, index() is 1
["C", "B", "D", "B"].index("B")

1

### .count()
count() returns how often an element occurs in a given list :D

In [9]:
# B occurs once
["C", "B", "D"].count("B")

1

In [10]:
# B occurs twice
["C", "B", "D", "B"].count("B")

2

## .insert()
insert(object, index) lets you insert the object so that it occupies the place of the given object in the list.

In [19]:
# Index:     0    1    2
str_list = ["C", "B", "D"]
str_list.insert(2, "B")
str_list

['C', 'B', 'B', 'D']

### .sort()
By default: Sorts things more or less intuitively :-)

In [18]:
int_list = [1, 9, 2, 7, 2, 3, 1, 2]
int_list.sort()
int_list

[1, 1, 2, 2, 2, 3, 7, 9]

With the "key=" argument: Sorts according to a given function. This function takes each of the list's elements as argument:

In [10]:
# Let us sort the list according to the length of their elements :D
str_list = ["Ioannina", "Patras", "Thessaloniki", "Athens"]
str_list.sort(key=lambda x: len(x))
str_list

['Patras', 'Athens', 'Ioannina', 'Thessaloniki']

In [12]:
# ...or let us sort it from small to huge str by negating len() :D
str_list = ["Ioannina", "Patras", "Thessaloniki", "Athens"]
str_list.sort(key=lambda x: -len(x))  # len() is negated :O
str_list

['Thessaloniki', 'Ioannina', 'Patras', 'Athens']

### filter()
filter(function, list) returns only the elments of a list which return True according to a given function:

In [26]:
# Let us choose all even numbers in this int list:
int_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(filter(lambda x: x % 2 == 0, int_list))

[2, 4, 6, 8, 10]

## List Comprehensions

You can actually run a for loop inside a list in order to create the list :O

In [37]:
[x for x in range(1, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

You can also perform calculations:

In [39]:
[x**2 for x in range(1, 10)]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

And you can filter the result using "if":

In [40]:
[x**2 for x in range(1, 10) if x % 2 == 0]

[4, 16, 36, 64]